# Dependências
node_modules/

# Ambiente virtual Python
.venv/
venv/

# Variáveis de ambiente
.env

# Cache
__pycache__/
.pytest_cache/

# IDE
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db
